.DrawPile {
    width: 3em;
    margin: 1em;
    margin-left: 0em;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

.deck-button {
    width: 2.75em;
    height: 4em;
    background-color: rgb(19, 19, 47);
    border: 5px solid white;
    border-radius: 5px;
    border-style: inset;
}