.TableTile {
    box-shadow: 0em 0em 1em gray;
    width: 15em;
    height: 15em;
    margin: 1em auto;
    padding: 0.5em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-name {
    color: black;
    margin: 0em auto;
}

.seat-array {
    width: 12em;
    height: 12em;
    display: flex;
    flex-wrap: wrap;
    margin: 0em auto;
}