.TableChat {
    width: 15em;
    height: 26em;
    background-color: #CCCCCC;
    box-shadow: 0em 0em 1em black;
    margin: 1em;
    margin-left: 0em;
    margin-bottom: 0em;
    padding: 0.25em;
    padding-bottom: 2.5em;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}