.TableView {
    width: 40em;
    height: 40em;

    box-shadow: 0em 0em 1em black;
    margin: 1em;
    background-color: rgb(102, 127, 102);
}

.seat-div {
    width: 35em;
    height: 35em;

    margin: 0em auto;

    display: flex;
    
    flex-wrap: wrap;

    transform: rotate(-45deg);
}

.other-players-div {
    height: 20em;
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 1em auto;
}

.player-div {
    width: 30%;
    margin: 1em;
    height: 5em;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.edge-player {
    margin-top: 10em;
}