.OtherPlayerSeat {
    width: 10em;
    height: 5em;
    border-radius: 10px;
    box-shadow: 0em 0em 1em black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NPC {
    background-color: gray;
}

.empty {
    width: 5em;
    height: 2.5em;
    margin-top: 2.5em;
}